@media (min-width: 960px) {
  html, body {
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100vh; 
  }
}

@media (max-width: 959px) {
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
